<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Arshad\Slider\Api\Data\SliderInterface" type="Arshad\Slider\Model\Slider" />
    <preference for="Arshad\Slider\Api\Data\BannerInterface" type="Arshad\Slider\Model\Banner" />

    <preference for="Arshad\Slider\Api\BannerSliderServiceInterface"
                type="Arshad\Slider\Model\BannerSliderService"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="arshadslider_banner_listing_data_source" xsi:type="string">Arshad\Slider\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="arshadslider_slider_listing_data_source" xsi:type="string">Arshad\Slider\Model\ResourceModel\Slider\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Arshad\Slider\Model\ResourceModel\Banner\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">arshad_banner</argument>
            <argument name="resourceModel" xsi:type="string">Arshad\Slider\Model\ResourceModel\Banner</argument>
        </arguments>
    </virtualType>
    <virtualType name="Arshad\Slider\Model\ResourceModel\Slider\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">arshad_slider</argument>
            <argument name="resourceModel" xsi:type="string">Arshad\Slider\Model\ResourceModel\Slider</argument>
        </arguments>
    </virtualType>

</config>
